*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;

}
form{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}

fieldset{
    display: flex;
    align-items: center;
    justify-content: center;
}